@using FlagQuizGame.Models
@{
    ViewBag.Title = "Flag Quiz Game";
}

<div class="jumbotron">
    <h1>Flag Quiz Game</h1> <br/>
    <p>@Html.ActionLink("Start Game", "Flags", "Game", new { id = 1}, new { @class = "btn-primary btn-lg"})</p>
</div>

